<h1>Hello, welcome to the blog!</h1>
It is now <%= Time.now %> GMT (You figure it out).
<br><br>

<h2><u>List of Posts</u></h2>
<div>
    <ol>
        <li><%= @posts.title %></li>
        <li><%= @posts.body %></li>
    </ol>
</div>